body {

    background-image: url("background.jpg");
    background-color: forestgreen;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}

.right-side-div {

    height: 100vh;
    width: 65vw;
    position: absolute;
    right: 0;
    background-color: azure;
}

.left-side-div {
    height: 100vh;
    width: 35vw;
    position: absolute; 
    left: 0;
    display: flex;
    align-items: flex-end;
}

.background-image-credit-div {
    height: 5vh; 
    width: 35vw;
    justify-content: center;
    display: flex;
    font-size: 4rem;
    color: azure;
}

.background-image-credit-div > p >a{
    color: azure;
}