body {
    background-image: url("background.jpg");
    background-color: forestgreen;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}

.right-side-div {
    height: 100vh;
    width: 65vw;
    position: absolute;
    right: 0;
    background-color: azure;
}

.left-side-div {
    height: 100vh;
    width: 35vw;
    position: absolute; 
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end
}

@font-face{
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

.logo-banner {
    height: 15vh;
    width: 35vw;
    background-color: rgba(90, 86, 86, 0.5);
    justify-self: center;
    position: relative;
    bottom: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-banner > p {
    font-family: Norse;
    font-size: 24rem;
    margin: 0;
    color: white;
}

.background-image-credit-div {
    height: 5vh; 
    width: 35vw;
    display: flex;
    font-size: 4rem;
    color: azure;
    text-align: center;
}

.background-image-credit-div > p >a{
    color: azure;
}

.background-image-credit-div > p {
    margin: 0;
    flex: 1;
}
