body {
    background-image: url("background.jpg");
    background-color: forestgreen;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*left side*/

.left-side-container {
    height: 100%;
    width: 35%;
    position: absolute; 
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end
}

@font-face{
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

.logo-banner {
    height: 25%;
    width: 100%;
    background-color: rgba(90, 86, 86, 0.5);
    justify-self: center;
    position: relative;
    bottom: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-banner > p {
    font-family: Norse;
    font-size: 24rem;
    margin: 0;
    color: white;
}

.background-image-credit-container {
    height: 5%; 
    width: 100%;
    display: flex;
    font-size: 4rem;
    color: azure;
    text-align: center;
}

.background-image-credit-container > p >a{
    color: azure;
}

.background-image-credit-container > p {
    margin: 0;
    flex: 1;
}

/*right side*/

.right-side-container {
    height: 100%;
    width: 65%;
    position: absolute;
    right: 0;
    background-color: azure;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*form intro text*/

.right-side-container p {
    font-size: 5.5rem;
    font-weight: 600;
}

.form-pitch {
    margin: 0 0 8rem 8rem;
    width: 60%;   
}

/*form*/

.form-container {
    background-color: white;
    box-shadow: 0 10px 18px grey;
    font-size: 4rem;
    font-family: inherit;
}

form, .form-container {
    height: 32%;   
    width: 100%;
}

form {
    font-family: inherit;
    margin-left: 8rem;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    width: 90%;
    height: 100%;
    font-size: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: .25em .5em .25em .5em;
    border-width: .13em;
    border-color: black;
}
.left-input, .right-input {
    display: flex;      
    flex-direction: column;
}

.input-dad {
    display: flex;
    margin-left: 1rem;
    margin: 4rem 0rem 4rem 0rem;
}

.right-input {
    margin-left: 8rem;
}

label {
    font-size: 90%;
}

span {
    font-size: 80%;
}

/*form interactive features*/

.password:invalid {
    border-color: red;
}

.password:valid {
    border-color: green;
}

input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0 10px 18px black;
    background-color: rgba(198, 207, 30, .3);
}

/*create account & log-in*/

.btn-container {
    width: 25%;
    height: 5%;
    display: flex;
    margin: 8rem 0 6rem 8rem;
}

button {
    background-color: lightblue;
    border-radius: 1.5rem;
    border: none;
    flex: 1;
    font-family: Norse;
}

.login-prompt {
    margin: 0 0 0 8rem;
}

button {
    font-size: 6rem;
    font-weight: bold;
    color: darkslategrey;
    box-shadow: 0 10px 18px grey;
}

.login-prompt > p > button {
    background-color: rgba(0,0,0,0);
}

.login-prompt > p {
    font-weight: 500;
    font-size: 4.5rem;
}

button:hover {
    cursor: pointer;
}